@model GoGiftWebsite.Areas.gpanel.Models.TblPromotionalCodes;
@{
    ViewBag.Title = "Promotional Code";
}

@section Header {
@*     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
 *@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-2.1.4/datatables.min.css">
    <link rel="stylesheet" href="/gpanel/Content/plugins/daterangepicker/daterangepicker.css">
}
@section PageHeaderName {

}
@section PageBreadcum {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Promocode</li>
    </ol>
}
<div class="form-horizontal">


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Promocode</button><br /><br />
    <table id="PromotionalCodetable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    PromoCode
                </th>
                <th>
                    Discount
                </th>

                <th>
                    DiscountType
                </th>

                <th>
                    PromotionalType
                </th>
                <th>
                    MinimumCartValue
                </th>
                <th>
                    MaximumDiscount
                </th>

                <th>
                    ExpiryDate
                </th>

                <th>
                    Remark
                </th>
                <th>
                    IsActive
                </th>

                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" id="myModalLabel">Add Promocode</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label asp-for="PromotionalCodeID"></label>
                        <input asp-for="PromotionalCodeID" placeholder="PromotionalCodeID" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PromotionalCode">PromotionalCode</label>
                        <input asp-for="PromotionalCode" placeholder="PromotionalCode" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PromotionalDiscount"></label>
                        <input asp-for="PromotionalDiscount" placeholder="PromotionalDiscount" />
                    </div>
                    <div class="form-group">
                        <label for="State">DiscountType</label>
                        <select id="DiscountType" class="form-control">
                            <option>Flat</option>
                            <option>Percentage</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="PromotionalType">PromotionalType</label>
                        <select id="PromotionalType" class="form-control"></select>
                    </div>


                    <div class="form-group">
                        <label asp-for="MinimumCartValue"></label>
                        <input asp-for="MinimumCartValue" placeholder="MinimumCartValue" />
                    </div>

                    <div class="form-group">
                        <label asp-for="MaximumDiscount"></label>
                        <input asp-for="MaximumDiscount" placeholder="MaximumDiscount" />
                    </div>

                    <div class="form-group">
                        <label for="ExpiryDate">ExpiryDate</label>
                        <div class="input-group date" id="ExpiryDate" data-target-input="nearest">
                            <input type="text" id="ExpiryDate" placeholder="ExpiryDate" class="form-control datetimepicker-input" data-target="#ExpiryDate" />
                            <div class="input-group-append" data-target="#ExpiryDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="Remark">Remark</label>
                        <input type="text" class="form-control" id="Remark" placeholder="Remark" />
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Footer {

    <script src="/gpanel/Content/script/PromotionalCode.js"></script>
  @*   <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script> *@
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/v/dt/dt-2.1.4/datatables.min.js"></script>
    <!-- InputMask -->
    <script src="/gpanel/Content/plugins/moment/moment.min.js"></script>

    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/gpanel/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
}
