@model GoGiftWebsite.Areas.gpanel.Models.TblEmailTemplates;
@{
    ViewBag.Title = "Add";
}
@section Header {
    <script src="https://cdn.tiny.cloud/1/jso54obh9hx3n7f73l8a9xw4o6ovr3wltkclir7hriel5577/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

}

@section PageHeaderName {
    <h3>Add Email Template</h3>
}
@section PageBreadcum {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">EmailTemplate</li>
    </ol>
}
<form id="AddEmailTemplate" method="post">
          <div class="row">
        <div class="card card-primary card-outline">
  <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-row form-row-custom">
                            <div class="col-6">
                                <label asp-for="EmailTitle">EmailTitle</label>
                                <input asp-for="EmailTitle" class="form-control form-control-custom" placeholder="Email Title:">
                            </div>
                            <div class="col-6">
                                <label asp-for="ModuleName">ModuleName</label>
                                <select class="form-control form-control-custom" asp-for="ModuleName">
                                    <option value="Customer">Customer</option>
                                    <option value="Vendor">Vendor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row form-row-custom">
                            <div class="col-6">
                                <label asp-for="FromName">FromName</label>
                                <input asp-for="FromName" class="form-control form-control-custom" placeholder="From Name">
                            </div>
                            <div class="col-6">
                                <label asp-for="FromEmail">FromEmail</label>
                                <input asp-for="FromEmail" class="form-control form-control-custom" placeholder="From Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row form-row-custom">
                            <div class="col-6">
                                <label asp-for="CC">CC</label>
                                <input asp-for="CC" class="form-control form-control-custom" placeholder="CC:">
                            </div>
                            <div class="col-6">
                                <label asp-for="BCC">BCC</label>
                                <input asp-for="BCC" class="form-control form-control-custom" placeholder="BCC:">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row form-row-custom">
                            <div class="col-6">
                                <label asp-for="CustomSubject">CustomSubject</label>
                                <input asp-for="CustomSubject" class="form-control form-control-custom" placeholder="Subject:">
                            </div>
                            <div class="btn btn-default btn-file">
                                <i class="fas fa-paperclip"></i> Attachment
                                <input type="file" name="attachment" id="Attachment">
                            </div>
                            <p class="help-block">Max. 32MB</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea asp-for="CustomBody" class="form-control" style="height: 300px"></textarea>
                    </div>
                   
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary">
                            <i class="far fa-envelope"></i> Save
                        </button>
                    </div>
                    <button type="reset" asp-controller="EmailTemplate" asp-action="Index" class="btn btn-secondary"><i class="fas fa-times"></i> Discard</button>
                </div>
            </div>
    </div>
            <!-- /.card-footer -->
            <!-- /.col -->
     
</form>
@section Footer {

    <script src="~/js/EmailTemplate.js"></script>
    <!-- Place the first <script> tag in your HTML's <head> -->
    <script src="https://cdn.tiny.cloud/1/jso54obh9hx3n7f73l8a9xw4o6ovr3wltkclir7hriel5577/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
}

