<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoGift</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/gpanel/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/gpanel/Content/dist/css/adminlte.min.css">
    @await RenderSectionAsync("Header", required: false)
</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="/gpanel/Content/dist/img/Delivery-Version.png" alt="AdminLTELogo" height="60" width="60">
            <label>Loading....</label>
        </div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/gpanel/Dashboard/index" class="nav-link">Home</a>
                </li>

            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <!-- Notifications Dropdown Menu -->

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/gpanel/Dashboard/index" class="brand-link">
                <img src="/gpanel/Content/dist/img/Delivery-Version.png" alt="GoGift Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">GoGift India</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/gpanel/Content/dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Admin</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item menu-open">
                            <a id="aDashboard" href="/gpanel/Dashboard/index" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>

                        </li>

                        <li id="liTagPartner" class="nav-item">
                            <a id="aPartner" href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Partner
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a id="aCustomer" href="/gpanel/Customer/Index" class="nav-link" onclick="Javascript:ActiveTab()">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Customer List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="aVendor" href="/gpanel/Vendor/Index" class="nav-link" onclick="Javascript:ActiveTab()">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Vendor List</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li id="liTagSetup" class="nav-item">
                            <a id="aSetup" href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Setup Menu
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a id="aCity" href="/gpanel/City/Index" class="nav-link" onclick="Javascript:ActiveTab()">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>City</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="aPromocode" href="/gpanel/PromotionalCode/Index" class="nav-link" onclick="Javascript:ActiveTab()">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Promo Codes</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="aEmailTemplate" href="/gpanel/EmailTemplate/Index" class="nav-link" onclick="Javascript:ActiveTab()">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Mail Templates</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li id="liTagSEO" class="nav-item">
                            <a id="aSEO" href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    SEO
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a id="aPage" href="/gpanel/Page/Index" class="nav-link" onclick="Javascript:ActiveTab()">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>City</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="aURLRedirect" href="/gpanel/PromotionalCode/Index" class="nav-link" onclick="Javascript:ActiveTab()">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>URL Redirect</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="aSEORules" href="/gpanel/EmailTemplate/Index" class="nav-link" onclick="Javascript:ActiveTab()">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>SEO Rules</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a id="aOrder" href="/gpanel/CustomerPoint/Index" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    Customer Point
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="aExtra" href="#" class="nav-link">
                                <i class="nav-icon fas fa-columns"></i>
                                <p>
                                    Extra 1
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="aLogout" href="/gpanel/Access/Logout" class="nav-link">
                                <i class="nav-icon fas fa-columns"></i>
                                <p>
                                    Logout
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content">
                <div class="container-wrapper">

                    <div class="row mb-2">
                        <div class="col-sm-6">
                            @RenderSection("PageHeaderName", true)
                        </div>
                        <div class="col-sm-6">
                            @RenderSection("PageBreadcum", true)
                        </div>
                    </div>

                </div><!-- /.container-fluid -->
            </section>


            <!-- Content Body -->
            <section class="content">

                @RenderBody()

            </section>
        </div>
        <!-- End of Content Body -->
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2016-2025 <a href="https://gogift.in">GoGift.in</a>.</strong>
            All rights reserved.
        </footer>
    </div>
    <!-- Control Sidebar -->

    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery -->


    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/gpanel/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/gpanel/Content/dist/js/adminlte.min.js"></script>

    <script src="/gpanel/Content/Script/Common.js"></script>
    @await RenderSectionAsync("Footer", required: false)
</body>
</html>
